.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.db
vencimientos.db
*.log
data/
backups/
config.ini
dist/
build/
*.spec
.ngrok/
Configurar_Token_Ngrok.bat
Compartir_Internet.bat
.idea/
.vscode/
.DS_Store

GITHUB_DEPLOY/
debug_*.py
*.txt
